sports-media/src/main/app/main-ftp-file-read.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="main-ftp-file-readFlow">
        <file:inbound-endpoint responseTimeout="10000" doc:name="File" moveToDirectory="C:\Krishna\watch_completed" path="C:\Krishna\watch" />
        <logger level="INFO" doc:name="Logger" message="Processing started for file #[message.inboundProperties.originalFilename]"/>
        <choice doc:name="Choice(Check file name)">
        	<when expression="#[message.inboundProperties.originalFilename.startsWith('schedule')]">
                <flow-ref name="sf_sync_schedule" doc:name="Sync Schedule"/>
        	</when>
        	<when expression="#[message.inboundProperties.originalFilename.startsWith('match_score')]">
                <flow-ref name="sf_sync_score" doc:name="Sync Score"/>
        	</when>
        	<when expression="#[message.inboundProperties.originalFilename.startsWith('match_pbp')]">
                <flow-ref name="sf_sync_pbp" doc:name="Sync Pbp"/>
        	</when>
        	<otherwise>
        		<logger level="INFO" doc:name="Logger" message="Not valid file for processing"/>
        	</otherwise>
        </choice>
        <logger level="INFO" doc:name="Logger" message="Processing completed for file #[message.inboundProperties.originalFilename]"/>
    </flow>
</mule>
